[worldserver]

#
#    Level_item_enable
#        Description: This will show the console on what players are logged in
#        Default:     Enabled  = 1
#                     Disabled = 0
Level_item_enable = 1

#
#    MaxItemLevel
#        Description: Max level the Item can be used up to
#        Default:     Enabled = 80
#                     

MaxItemLevel = 80